@model IEnumerable<RecipeWebsite.Models.Recipe>

@{
    ViewBag.Title = "View Recipe";
}

@foreach (var r in Model)
{
    <fieldset class="text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center" scope="col"><h2>Recipie Name</h2></th>
                    <th class="text-center" scope="col"><h2>Recipie Description</h2></th>
                    <th class="text-center" scope="col"><h2>Recipie Ingredient</h2></th>
                    <th class="text-center" scope="col"><h2>Recipie Method</h2></th>
                    <th class="text-center" scope="col"><h2>Recipie Preparation Time</h2></th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td>@r.RecipeName</td>
                    <td>@r.RecipeDescription</td>
                    <td>@r.RecipeIngredient</td>
                    <td>@r.RecipeMethod</td>
                    <td>@r.RecipePreparationTime</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" asp-action="ReviewRecipe" asp-route-RecipeId="@r.ID">Review this recipe</a>
        <a class="btn btn-primary" asp-action="ReadReview" asp-route-RecipeId="@r.ID">Read Reviews</a><br><br>
    </fieldset>
}
